body{
    background-color: #040F14;
    font-family:'Oswald', sans-serif ;
    color: white;
}

p{
    font-family: 'Titillium Web', sans-serif;
}

.allgamestitel{
    text-transform: uppercase;
    font-size: 3rem;
    margin-left: 10%;
    margin-top: -7%;
    margin-bottom: 20%;
    position: absolute;
}

.apiallgames{
    float: left;
}
