.cardImage .ImageBig {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
}


.cardImage .category span{
    border: 1px solid #FF4654;
    border-radius: 15px;
    padding: 6px 12px;
    margin-right: 12px;
}

.cardImage button{
    margin: 4vh 0;
}

.cardImage .category {
    margin-bottom: 2rem;
    color: #FFFFFF;
}
.descriptionImage{
    margin: 0 10%;
    text-align: left;
}

.descriptionImage h1{
    margin: 0;
    color:#FFFFFF;
    font-family: Oswald;
    font-size: 3rem;
}

.cardImage .number{
    margin-left: auto;
}