.card{
    background-color: #102130;
    width: 285px;
    border-radius: 1.5rem;
}   

.card img{
    border-radius: 1.5rem;
}

.card h3{
    font-family: Oswald;
    font-weight: bold;
    color:#FFFFFF;
    margin: 4.5vh 0 0;
}

.card p{
    font-family: Titillium Web;
    font-size: 1rem;
    color:#AFC7DF;
    line-height: 1.5rem;
    margin-top: 3vh;
}

.card .category{
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    display: flex;
    margin: 0 5%;
    padding: 4vh 5% 4vh 0;
    justify-content: flex-start;
}

.card .category span{
    border: 1px solid #FF4654;
    border-radius: 15px;
    padding: 6px 12px;
    margin-right: 12px
}

.card .category img{
    width: 100%;
    border-radius: 0;
    display: block;
}

.card .description{
    margin: 0 10%;
    text-align: left;
}

.card button{
    margin: 4vh 0;
}