@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Titillium Web', sans-serif; */

body{
    background-color: #040F14;
    font-family:'Oswald', sans-serif ;
    color: white;
}

.detailsgame{
    margin-top: 2%;
}

p, td{
    font-family: 'Titillium Web', sans-serif;
}

.detailimg img{
    width: 88.52vw;
    height: 62.23vh;
    margin-top: 25px;
    margin-left: 124px;
    border-radius: 12px;
    object-fit:cover;
}

.detailtitle{
    text-transform: uppercase;
    font-size: 3rem;
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 5%;
}

.imgabout img{
    width: 34.097vw;
    height: 35.614vh;
    background-color: white;
    margin-left: 145px;
}

.platform{
    margin-left: 145px;
}

.genre{
    margin-left: 145px;
    width: 94px;
    height: 28px;
    border: 1px solid #FF4654;
    border-radius: 15px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.detailsgame button{
    margin-left: 10%;
    margin-top: 1%;
}

h2{
    display: inline-block;
}

.detailsgame{
    position: relative;
}

.detailsabout{
    position: absolute;
    right: 10%;
    top: 64%;
    width: 35%;
    height: 50%;
    overflow: auto;
}

.imgoneandtwo{
    display: flex;
    margin-left: 12%;
    margin-top: 25%;
}

.imgone{
    margin-right: 3%;
}

.imgone img{
    width: 40vw;
    height: 40vh;
    background-color: white;
    border-radius: 24px;
}

.imgtwo img{
    width: 40vw;
    height: 40vh;
    background-color: white;
    border-radius: 24px;
}

.additional h3{
    display: inline-block;
    margin-top: 12px;
    margin-right: 50px;
}

.info1{
    display: flex;
}

.info1 p{
    margin-left: 5%;
    margin-top: 3%;
}

.info2{
    display: flex;
}
.info2 p{
    margin-left: 6%;
    margin-top: 3%;
}

.info3{
    display: flex;
}

.info3 p{
    margin-top: 3%;
}

.lastpart{
    display: flex;
    padding-bottom: 15%;
    margin-top: 10%;
    margin-left: 4%;
}

.additional{
    margin-left: 9%;
}

.system{
    margin-left: 11%;
}

th{
    text-align: left;
}

table th:last-child{
    padding-left: 5%;
}

table td:last-child{
    padding-left: 5%;
}

.detailimg img{
    margin-top: 5%;
}

