.searchfield {
   width: 277px;
   height: 40px;
   border-radius: 12px;
   background-color: #375470;
   right: 25px;
   top: 1%;
   position: absolute;
   color: white;
   text-align: center;
}

.header {
   height: 50px;
   position: fixed;
   width: 100%;
   background: transparent;
}
.logo {
   position: absolute;
   left: 9%;
   transition: width 0.3s;
   top: 1%;
}

.searchicon {
   position: absolute;
   right: 60px;
   top: 6px;
}

.additional p {
   margin-bottom: 5%;
}

.system h2 {
   margin-bottom: 5%;
}
