.searchfield {
   width: 277px;
   height: 35px;
   border-radius: 12px;
   background-color: #375470;
   right: 53px;
   top: 5px;
   position: absolute;
   color: white;
   text-align: center;
}

.header {
   height: 50px;
   position: fixed;
   width: 100%;
   background: transparent;
}


.searchicon{
   position: absolute;
   right: 6%;
   top: 15%;
}

.logo{
   margin-left: 5%;
}




