@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Titillium Web', sans-serif; */

.buttonselect{
    width: 285px;
    height: 51px;
    border-radius: 12px;
    background-color: #FF4654;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.125rem;
}

.buttonselect1{
    width: 285px;
    height: 51px;
    border-radius: 12px;
    background-color: #FF4654;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.125rem;
}

.buttonselect2{
    width: 285px;
    height: 51px;
    border-radius: 12px;
    background-color: #FF4654;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.125rem;
}

.allselect{
    margin-left: 140px;
    margin-top: 8%;
}

/* .allselect{
    display: grid;
    grid-template-rows: repeat(1fr,3);
} */

.menu {
    width: 280px;
    height: 140px;
    border-radius: 12px;
    position: absolute;
    margin-left: 2%;
    background-color: #102130;
    padding: 20px;
}

.menu1 {
    width: 280px;
    height: 250px;
    border-radius: 12px;
    position: absolute;
    margin-left: 2%;
    background-color: #102130;
    padding: 20px;
    
}

.menu2 {
    width: 280px;
    height: 250px;
    border-radius: 12px;
    position: absolute;
    margin-left: 2%;
    background-color: #102130;
    padding: 20px;
}

.menuwrapper{
    background-color: white;
}

.menu input{
    margin-left: 6%;
}

button img{
    margin-left: 64%;
}

.menu div{
    background-color:#375470 ;
    padding: 4%;
    border-radius: 12px;
    margin-bottom: -15px;
}

.menu1 div{
    background-color:#375470 ;
    padding: 4%;
    border-radius: 12px;
    margin-bottom: -15px;
}

.menu2 div{
    background-color:#375470 ;
    padding: 4%;
    border-radius: 12px;
    margin-bottom: -15px;
}

.moba{
    margin-top: 24px;
}

.select{
    float: left;
    margin-right: 2%;
}

.select1{
    float:left;
    margin-right: 2%;
}

.select2{
    float: left;
}



